@tailwind base;
@tailwind components;
@tailwind utilities;
/* *{
  color: #747579;

}
.dark *{
  color: #a1a1a8;
} */
:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Roboto",sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.lightShadow{
  box-shadow: 0px 0px 10px rgba(29,58,83,0.25);
  
}
.navShadow{
  box-shadow: 0px 8px 20px rgba(83, 88, 93, 0.4)
}
.figure{
  width: 650px;
  height: 630px;
}
.mainImg{
  height: 603px;
}